<h1>{{message}}</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Samvathsara {{message}}</td>
                <td><input type="text" placeholder="Samvathsara" /></td>
                <td><label for="Ayana">Ayana:{{message}}</label></td>
                <td><input type="text" class="form-control" id="Ayana" placeholder="Ayana"></td>
            </tr>
        </thead>
        <thead>
            <tr>
                <th class="col-xs-3"><label for="Rutu">Rutu:</label></th>
                <th class="col-xs-3"><input type="text" class="form-control" id="Rutu" placeholder="Rutu"></th>
                <th class="col-xs-3"><label for="Thithi">Thithi:</label></th>
                <th class="col-xs-3"><input type="text" class="form-control" id="Thithi" placeholder="Thithi"></th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th style="width: 25%"><label for="Chaandra">Chaandra Maasa:</label></th>
                <th style="width: 25%"><input type="text" class="form-control" id="Chaandra" placeholder="Chaandra Maasa"></th>
                <th style="width: 25%"><label for="Saura">Saura Maasa:</label></th>
                <th style="width: 25%"><input type="text" class="form-control" id="Saura" placeholder="Saura Maasa"></th>
            </tr>
        </thead>
        <thead>
            <tr>
                <td><label for="Vara">Vara:</label></td>
                <td><input type="text" class="form-control" id="Vara" placeholder="Vara"></td>
                <td><label for="Nakshathra">Nakshathra:</label></td>
                <td><input type="text" class="form-control" id="Nakshathra" placeholder="Nakshathra"></td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td><label for="Yoga">Yoga:</label></td>
                <td><input type="text" class="form-control" id="Yoga" placeholder="Yoga"></td>
                <td><label for="Karana">Karana:</label></td>
                <td><input type="text" class="form-control" id="Karana" placeholder="Karana"></td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td><label for="Visha">Visha:</label></td>
                <td><input type="text" class="form-control" id="Visha" placeholder="Visha"></td>
                <td><label for="Amrutha">Amrutha:</label></td>
                <td><input type="text" class="form-control" id="Amrutha" placeholder="Amrutha"></td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td><label for="Rahu">Rahu Kaala:</label></td>
                <td><input type="text" class="form-control" id="Rahu" placeholder="Rahu Kaala"></td>
                <td><label for="Gulika">Gulika Kaala:</label></td>
                <td><input type="text" class="form-control" id="Gulika" placeholder="Gulika Kaala"></td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td><label for="Yama">Yama Kantaka:</label></td>
                <td><input type="text" class="form-control" id="Yama" placeholder="Yama Kantaka"></td>
                <td><label for="Dina">Dina Vishesha:</label></td>
                <td><input type="text" class="form-control" id="Dina" placeholder="Dina Vishesha"></td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td><label for="Rise">Sun Rise:</label></td>
                <td><input type="text" class="form-control" id="Rise" placeholder="Sun Rise"></td>
                <td><label for="Set">Sun Set:</label></td>
                <td><input type="text" class="form-control" id="Set" placeholder="Sun Set"></td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td><label for="Sankramana">Sankramana:</label></td>
                <td><input type="text" class="form-control" id="Sankramana" placeholder="Sankramana"></td>
                <td><label for="Amavasya">Amavasya:</label></td>
                <td><input type="text" class="form-control" id="Amavasya" placeholder="Amavasya"></td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td><label for="Paurnami">Paurnami:</label></td>
                <td><input type="text" class="form-control" id="Paurnami" placeholder="Paurnami"></td>
                <td><label for="Sankasta">Sankasta Chathurthi:</label></td>
                <td><input type="text" class="form-control" id="Sankasta" placeholder="Sankasta Chathurthi"></td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td><label for="Bharani">Bharani:</label></td>
                <td><input type="text" class="form-control" id="Bharani" placeholder="Bharani"></td>
                <td><label for="Krithike">Krithike:</label></td>
                <td><input type="text" class="form-control" id="Krithike" placeholder="Krithike"></td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td><label for="Ekadashi">Ekadashi:</label></td>
                <td><input type="text" class="form-control" id="usr" placeholder="Ekadashi"></td>
            </tr>
        </thead>
    </table>
</div>
